<template>
  <div class="home">
  <img alt="Vue rubrica" src="../assets/rubrica.png">
    <AddPage msg="Welcome to Add page"/>
  </div>
</template>

<script>
// @ is an alias to /src
import AddPage from '@/components/AddPage.vue'

export default {
  name: 'home',
  components: {
    AddPage
  }
}
</script>
