<template>
  <div class="home">
  <img alt="Vue rubrica" src="../assets/rubrica.png">
    <EditPage msg="Welcome to Edit page"/>
  </div>
</template>

<script>
// @ is an alias to /src
import EditPage from '@/components/EditPage.vue'

export default {
  name: 'home',
  components: {
    EditPage
  }
}
</script>
