<template>
  <div class="home">
  <h1>Contacts</h1>
  <div class="contact-container">
    <div v-for="contact in contacts" :key="contact">
    <router-link :to="{ name: 'contact', params:  {id: contact.id}}">
      <div class="contact-box">
      <img alt="Vue rubrica" src="../assets/rubrica.png">
      <div>
        <h3>{{ contact.name }}</h3>
        <h3>{{ contact.surname }}</h3>
        <div v-html="contact.number"></div>
      </div>
      </div>
    </router-link>
    </div>
  </div>
  <router-link to="/add">Add a new contact</router-link>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  components: {},
  data () {
    return {
      contacts: this.$store.state.contacts
    }
  }
}
</script>

<style scoped lang="scss">
  .contact-container {
    .contact-box {
      border: 1px solid black;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;;;

      text-align: left;

      display: flex;
      justify-content: flex-start;

      img {
        max-height: 150px;
        width: 150px;
        padding: 10px;
      }
    }
  }
</style>
